<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{pgName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid class="whiteBg">
    <ion-row>

      <ion-col col-2>
        <ion-item no-lines>
          <ion-label stacked>Mandals</ion-label>
          <ion-select class="darkBg" [(ngModel)]="mandalSel" (ionChange)="checkMandal()">
            <ion-option value="all">All</ion-option>
            <ion-option *ngFor="let m of mandals" [value]="m.key">{{m.Name}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-2>
        <ion-item no-lines>
          <ion-label stacked>Villages</ion-label>
          <ion-select class="darkBg" [(ngModel)]="villageSel" (ionChange)="checkVillage()" >
            <ion-option value="all">All</ion-option>
            <ion-option *ngFor="let v of villages" [value]="v.key">{{v.Name}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item no-lines>
          <ion-label stacked>Schools</ion-label>
          <ion-select class="darkBg" [(ngModel)]="schoolSel">
            <ion-option value="all">All</ion-option>
            <ion-option *ngFor="let s of schools" [value]="s.key">{{s.Name}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>




      <ion-col col-2>
        <ion-item no-lines>
          <ion-label stacked>Community</ion-label>
          <ion-select [(ngModel)]="casteSel" class="darkBg" (ionChange)="filterExact('Community',casteSel)">
            <ion-option value="all">All</ion-option>
            <ion-option value="SC">SC</ion-option>
            <ion-option value="ST">ST</ion-option>
            <ion-option value="BC">BC</ion-option>
            <ion-option value="OC">OC</ion-option>
            <ion-option value="Minority">Minority</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-1>
        <ion-item no-lines>
          <ion-label stacked>Age</ion-label>
          <ion-select class="darkBg" [(ngModel)]="age" (ionChange)="filterExact('Age',age)">
            <ion-option value="all">All</ion-option>
            <ion-option value="10">10</ion-option>
            <ion-option value="11">11</ion-option>
            <ion-option value="12">12</ion-option>
            <ion-option value="13">13</ion-option>
            <ion-option value="14">14</ion-option>
            <ion-option value="15">15</ion-option>
            <ion-option value="16">16</ion-option>
            <ion-option value="17">17</ion-option>
            <ion-option value="18">18</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item no-lines>
          <ion-label stacked>Severity</ion-label>
          <ion-select [(ngModel)]="anL" class="darkBg" (ionChange)="filterExact('Severity', this.anL)">
            <ion-option value="all">All</ion-option>
            <ion-option value="Severely Anaemic">Severely Anaemic</ion-option>
            <ion-option value="Moderately Anaemic">Moderately Anaemic</ion-option>
            <ion-option value="Mildly  Anaemic">Mildly Anaemic</ion-option>
            <ion-option value="Healthy">Healthy</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-1>
        <ion-item no-lines>
          <ion-label stacked>Class</ion-label>
          <ion-select class="darkBg" (ionChange)="filterExact('Class',clSel)" [(ngModel)]="clSel">
            <ion-option value="all">All</ion-option>
            <ion-option value="6">6th</ion-option>
            <ion-option value="7">7th</ion-option>
            <ion-option value="8">8th</ion-option>
            <ion-option value="9">9th</ion-option>
            <ion-option value="10">10th</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

    </ion-row>


  </ion-grid>



  <ion-grid>
    <ion-navbar color="primary">
      <ion-row>
        <ion-col col-1>
        </ion-col>
        <ion-col col-1>
        </ion-col>
        <ion-col col-2>
          <p class="headBar">Name</p>
        </ion-col>
        <ion-col col-2>
          <p class="headBar">Severity</p>
        </ion-col>
        <ion-col col-1>
          <p class="headBar">Community</p>
        </ion-col>
        <ion-col col-2>
          <p class="headBar">Mobile</p>
        </ion-col>
        <ion-col col-2>
          <p class="headBar"></p>
        </ion-col>
      </ion-row>
    </ion-navbar>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-searchbar item-end animated="true" placeholder="Search a Student .." [(ngModel)]="searchbar" (ionInput)="getItems(searchbar)"></ion-searchbar>
      </ion-col>
      <ion-col col-6>
        <button ion-button float-right (click)="exporti()">
          Export
          <ion-icon padding-left name="share-alt"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

  </ion-grid>
  <!-- <button ion-button float-right color="light" *ngIf="selArray.length" (click)="clearSel()">Clear Selection</button> -->

  <ion-grid>
    <ion-card *ngFor="let a of filteredStudents;let i = index">
      <ion-card-content>
        <ion-row>
          <ion-col col-1>
            <ion-checkbox [(ngModel)]="a.Checked" (ionChange)="addToArr(a)"></ion-checkbox>
          </ion-col>
          <ion-col col-1>
            <p ion-text><strong>{{i+1}}</strong></p>
          </ion-col>
          <ion-col col-2 (click)="gtStudentDetails(a)" class="curs">
            {{a.StudentName}}
          </ion-col>
          <ion-col col-2 text-center>
            <h1 ion-text color="primary">{{a.Severity }}</h1><br />
          </ion-col>
          <ion-col col-1 text-center>
            <h1 ion-text color="primary">{{a.Community}} </h1><br />
          </ion-col>
          <ion-col col-2 text-center>
            <h1 ion-text color="primary">{{a.Mobile}}</h1>
          </ion-col>



        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>





</ion-content>