<ion-header>
  <ion-navbar color="primary" >
    <ion-title>{{village.Name}}</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>

  <ion-grid>
    <ion-row>
<ion-col col-6>
  <ion-card>
    <ion-navbar color="primary" (click)="toggleSchools()" class="curs" >
      <ion-title>Schools</ion-title>
      <ion-buttons end>
      <button ion-button large clear>{{village.Schools}}</button>
      <button ion-button clear icon-only  *ngIf="!showSchool" (click)="toggleSchools()">
        <ion-icon name="ios-arrow-down"></ion-icon>
      </button>
      <button ion-button clear icon-only  *ngIf="showSchool" (click)="toggleSchools()">
        <ion-icon name="ios-arrow-up"></ion-icon>
      </button>
      </ion-buttons>
    </ion-navbar>

    <ion-card-content *ngIf="showSchool" >
      <ion-item *ngFor="let s of schools" >
        <button item-start clear ion-button color="dark" large>{{s.Name}}</button>
        <button ion-button item-end clear (click)="gtSchoolsDetails(s)" >Details</button>
      </ion-item>
    </ion-card-content>


  </ion-card>
</ion-col>
</ion-row>



<ion-row>
<ion-col col-6>
  <ion-card>
    <ion-navbar color="primary" (click)="toggleAnms()" class="curs" >
      <ion-title>Anms</ion-title>
      <ion-buttons end>
      <button ion-button large clear>{{village.Anms}}</button>
      <button ion-button clear icon-only  *ngIf="!showAnms" (click)="toggleAnms()">
        <ion-icon name="ios-arrow-down"></ion-icon>
      </button>
      <button ion-button clear icon-only  *ngIf="showAnms" (click)="toggleAnms()">
        <ion-icon name="ios-arrow-up"></ion-icon>
      </button>
      </ion-buttons>
    </ion-navbar>

    <ion-card-content *ngIf="showAnms" >
      <ion-item *ngFor="let a of anms" >
        <button item-start clear ion-button color="dark" large>{{a.FirstName}}</button>
        <button ion-button item-end clear (click)="gtAnmsDetails(a)" >Details</button>
      </ion-item>
    </ion-card-content>


  </ion-card>
</ion-col>
</ion-row>







  </ion-grid>
</ion-content>
