<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col col-4 >
    <ion-item no-lines class="content">
    <h1 class="title" item-start>Mandals</h1>
    </ion-item>
    </ion-col>
    <ion-col col-6 push-2 >
    <ion-searchbar item-end animated="true" placeholder="Search a Mandal" 
    [(ngModel)]="searchbar" (ionInput)="getItems(searchbar)"></ion-searchbar>
    </ion-col>
    </ion-row>
    </ion-grid>
  
    <ion-grid>
      <ion-navbar color="primary">
        <ion-row>
          <ion-col col-1>
            <ion-checkbox ></ion-checkbox>  
          </ion-col>
          <ion-col col-3>
            <p class="headBar">Mandal</p>
          </ion-col>
          <ion-col col-2>
            <p class="headBar">Villages</p>
          </ion-col>
          <ion-col col-2>
            <p class="headBar">Schools</p>
          </ion-col>
          <ion-col col-2>
            <p class="headBar">Students</p>
          </ion-col>
          <ion-col col-2>
            <p class="headBar">Analytics</p>
          </ion-col>
        </ion-row>
      </ion-navbar>
    </ion-grid>
    {{selArray | json}}
    <ion-grid>
        <ion-card *ngFor="let a of area;let i = index">
        <ion-card-content>
          <ion-row>
            <ion-col col-1  >
              {{i}}
              <ion-checkbox [(ngModel)]="a.Checked" (ionChange)="addToArr(a)" ></ion-checkbox>  
            </ion-col>
            <ion-col col-3>
              {{a.Name}}
            </ion-col>
            <ion-col col-2 text-center >
              <ion-badge>{{a.Villages}}</ion-badge><br/>
            </ion-col>
            <ion-col col-2 text-center >
              <ion-badge>{{a.Schools}}</ion-badge><br/>
            </ion-col>
            <ion-col col-2 text-center >
              <ion-badge>{{a.Students}}0</ion-badge><br/>
            </ion-col>
            <ion-col col-2 text-center >
              <button ion-button clear (click)="details()">Details
                <ion-icon padding-left name="md-arrow-round-forward"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-grid>



  <!-- <ion-grid>
    <ion-row>
      <ion-col *ngFor="let a of area" col-3  class="main" >
        <ion-card>
            <ion-toolbar color="primary">
            <ion-title>
              {{a.Name}}
            </ion-title>
            </ion-toolbar>
            <ion-card-content>
              <ion-list>
                <ion-item>{{a.DistrictName}}</ion-item>
                <ion-item>{{a.VillagesCount}} </ion-item>
              </ion-list>
              <div class="editBtns">
                <button ion-button color="danger" (click)="deleteArea(a)">
                  <ion-icon name="trash"></ion-icon>
                </button>
              </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  
  
  
  
    <ion-fab right bottom>
      <button ion-fab color="danger" (click)="gtAddArea()" >
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
    </ion-content>