<ion-header>
  <ion-navbar color="primary">
    <ion-buttons end>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <p ion-text color="whiter">{{adminName}} </p>
    </ion-buttons>
    <ion-title>{{pageName}} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="darkBg">

  <ion-grid class="whiteBg">
    <ion-row>


      <ion-col col-2>
        <ion-item no-lines>
          <ion-label stacked>Districts</ion-label>
          <ion-select [(ngModel)]="districtSel" class="darkBg">
            <ion-option>Wanaparthy</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-2>
        <ion-item no-lines>
          <ion-label stacked>Mandals</ion-label>
          <ion-select class="darkBg" [(ngModel)]="mandalSel" (ionChange)="manWiseVills()">
            <ion-option value="All">All</ion-option>
            <ion-option *ngFor="let m of mandals" [value]="m.key">{{m.Name}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-2>
        <ion-item no-lines>
          <ion-label stacked>Villages</ion-label>
          <ion-select class="darkBg" [(ngModel)]="villageSel" multiple="true">
            <ion-option value="All">All</ion-option>
            <ion-option *ngFor="let v of villages" [value]="v.key">{{v.Name}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-2>
        <ion-item no-lines>
          <ion-label stacked>Schools</ion-label>
          <ion-select class="darkBg" [(ngModel)]="schoolSel" multiple="true">
            <ion-option value="All">All</ion-option>
            <ion-option *ngFor="let s of schools" [value]="s.Name">{{s.Name}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-2>
        <ion-item no-lines>
          <ion-label stacked>Class</ion-label>
          <ion-select class="darkBg" (ionChange)="filterExact('Class',clSel)" [(ngModel)]="clSel" multiple="true">
              <ion-option value="7">7th</ion-option>
              <ion-option value="8">8th</ion-option>
              <ion-option value="9">9th</ion-option>
              <ion-option value="10">10th</ion-option>
              <ion-option value="11">11th</ion-option>
              <ion-option value="12">12th</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-2>
        <ion-item no-lines>
          <ion-label stacked>Community</ion-label>
          <ion-select [(ngModel)]="casteSel" class="darkBg" (ionChange)="filterExact('Community',casteSel)" multiple="true">
            <ion-option value="SC">SC</ion-option>
            <ion-option value="ST">ST</ion-option>
            <ion-option value="BC">BC</ion-option>
            <ion-option value="OC">OC</ion-option>
            <ion-option value="Minority">Minority</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>


      <ion-col col-2>
        <ion-item no-lines>
          <ion-label stacked>Age</ion-label>
          <ion-select class="darkBg" [(ngModel)]="mandalSel" multiple="true">
            <ion-option *ngFor="let m of mandals" [value]="m.Name">{{m.Name}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-2>
        <ion-item no-lines>
          <ion-label stacked>Severity</ion-label>
          <ion-select [(ngModel)]="anL" class="darkBg" (ionChange)="filterExact('Severity',anL)">
            <ion-option value="Severely Anaemic">Severely Anaemic</ion-option>
            <ion-option value="Moderately Anaemic">Moderately Anaemic</ion-option>
            <ion-option value="Mildly  Anaemic">Mildly Anaemic</ion-option>
            <ion-option value="Healthy">Healthy</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>




    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-3 margin-horizontal push-1>
        <h1 padding-left> Anaemia Level</h1>
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col class="br1" col-6>
                Severely<br />
                <p class="nums">20</p>
              </ion-col>
              <ion-col col-6>
                Moderately
                <p class="nums">20</p>
              </ion-col>
              <ion-col col-6>
                Mildly
                <p class="nums">20</p>
              </ion-col>
              <ion-col class="br4" col-6>
                Healthy
                <p class="nums">20</p>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-3 margin-horizontal push-1>
        <h1 padding-left>Community</h1>
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col class="br1" col-6>
                Severely<br />
                <p class="nums">20</p>
              </ion-col>
              <ion-col col-6>
                Moderately
                <p class="nums">20</p>
              </ion-col>
              <ion-col col-6>
                Mildly
                <p class="nums">20</p>
              </ion-col>
              <ion-col class="br4" col-6>
                Healthy
                <p class="nums">20</p>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-3 margin-horizontal push-1>
        <h1 padding-left>People</h1>
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col class="br1" col-6>
                Severely<br />
                <p class="nums">20</p>
              </ion-col>
              <ion-col col-6>
                Moderately
                <p class="nums">20</p>
              </ion-col>
              <ion-col col-6>
                Mildly
                <p class="nums">20</p>
              </ion-col>
              <ion-col class="br4" col-6>
                Healthy
                <p class="nums">20</p>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>



    </ion-row>





  </ion-grid>


  <ion-grid>
    <ion-navbar color="primary">
      <ion-row>
        <ion-col col-1>
        </ion-col>
        <ion-col col-1>
        </ion-col>
        <ion-col col-2>
          <p class="headBar">Name</p>
        </ion-col>
        <ion-col col-2>
          <p class="headBar">Severity</p>
        </ion-col>
        <ion-col col-2>
          <p class="headBar">Community</p>
        </ion-col>
        <ion-col col-2>
          <p class="headBar">Class</p>
        </ion-col>
        <ion-col col-2>
          <p class="headBar">Mobile</p>
        </ion-col>
        <ion-col col-2>
          <p class="headBar"></p>
        </ion-col>
      </ion-row>
    </ion-navbar>
  </ion-grid>

  <ion-grid>
    <ion-card *ngFor="let a of filteredStudents;let i = index">
      <ion-card-content>
        <ion-row>
          <ion-col col-1>
            <ion-checkbox [(ngModel)]="a.Checked" (ionChange)="addToArr(a)"></ion-checkbox>
          </ion-col>
          <ion-col col-1>
            <p ion-text><strong>{{i+1}}</strong></p>
          </ion-col>
          <ion-col col-2 (click)="gtAnmDetails(a)" class="curs" >
            {{a.StudentName}}
          </ion-col>
          <ion-col col-2 text-center>
            <h1 ion-text color="primary">{{a.Severity }}</h1><br />
          </ion-col>
          <ion-col col-2 text-center>
            <h1 ion-text color="primary">{{a.Community}} </h1><br />
          </ion-col>
          <ion-col col-2 text-center>
            <h1 ion-text color="primary">{{a.Class}} </h1><br />
          </ion-col>
          <ion-col col-2 text-center>
            <h1 ion-text color="primary">{{a.Mobile}}</h1>
          </ion-col>



        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>


</ion-content>