<ion-header>
  <ion-navbar color="primary" >
    <ion-title>{{school.Name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>

    <ion-col col-6>
      <ion-row>
        <ion-card>
          <ion-card-content>
            <ion-item>
              <h2 ion-text color="primary" item-start>Mandal</h2>
              <h2 item-end>{{mandalName}}</h2>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-row>

      <ion-row>
        <ion-card>
          <ion-card-content>
            <ion-item>
              <h2 ion-text color="primary" item-start>Village</h2>
              <h2 item-end>{{vName}}</h2>
            </ion-item>
          </ion-card-content>
        </ion-card>
    
      </ion-row>




    </ion-col>
      


    <ion-col col-6>

      <ion-row >
        <ion-card>
          <ion-card-content>
            <ion-card-title>{{school.Name}}</ion-card-title>

            <ion-item>
              <p ion-text color="primary" item-start >ANMs</p>
              <p item-end *ngIf="!school.ANM">Unassigned</p>
              <div item-end *ngIf="school.ANM" >
              <p  *ngFor="let ss of anms;let i = index" >{{i+1}}.{{ss.Name}}</p>
              </div>
            </ion-item>
            <ion-item>
                <p item-start color="primary" ion-text>Total Students</p>
                <p item-end>{{students.length}}</p>
              </ion-item>
              <ion-item>
                <p item-start color="primary" ion-text>Severely Anaemic</p>
                <p item-end>{{school.Severe}}</p>
              </ion-item>
              <ion-item>
                <p item-start color="primary" ion-text>Moderately Anaemic</p>
                <p item-end>{{school.Moderate}}</p>
              </ion-item>
              <ion-item>
                <p item-start color="primary" ion-text>Mildly Anaemic</p>
                <p item-end>{{school.Mildly}}</p>
              </ion-item>
              <ion-item>
                <p item-start color="primary" ion-text>Healthy</p>
                <p item-end>{{school.Healthy}}</p>
              </ion-item>

          </ion-card-content>
        </ion-card>
      </ion-row>


    </ion-col>


    
  







    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-navbar color="primary">
      <ion-row>
        <ion-col col-1></ion-col>
        <ion-col col-1>
          <p class="headBar">Name</p>
        </ion-col>
        <ion-col col-1>
          <p class="headBar">Age</p>
        </ion-col>
        <ion-col col-1>
          <p class="headBar">Class</p>
        </ion-col>
        <ion-col col-1>
          <p class="headBar">School</p>
        </ion-col>
        <ion-col col-1>
          <p class="headBar">Village</p>
        </ion-col>
        <ion-col col-1>
          <p class="headBar">Mandal</p>
        </ion-col>
        <ion-col col-1>
          <p class="headBar">Severity</p>
        </ion-col>
        <ion-col col-1>
          <p class="headBar">HBl</p>
        </ion-col>
                <ion-col col-1>
          <p class="headBar">Phone</p>
        </ion-col>

        <ion-col col-1>
          <p class="headBar">ANM</p>
        </ion-col>
      </ion-row>
    </ion-navbar>
  </ion-grid>








  <ion-grid>
    <ion-card *ngFor="let a of students;let i = index" [color]="a.colori" >
      <ion-card-content>
        <ion-row>
          <ion-col col-1>
            <p ion-text><strong>{{i+1}}</strong></p>
          </ion-col>
          <ion-col col-1 ion-text color="primary" (click)="gtStudentDetails(a)" class="curs">
            {{a.StudentName}}
          </ion-col>
          <ion-col col-1 >
            <h2  >{{a.Age }}</h2><br />
          </ion-col>
          <ion-col col-1 >
            <h2  >{{a.Class}} </h2><br />
          </ion-col>
          <ion-col col-1 >
            <h2  >{{a.SchoolName}} </h2><br />
          </ion-col>
          <ion-col col-1 >
            <h2  >{{a.VillageName}} </h2><br />
          </ion-col>
          <ion-col col-1 >
            <h2  >{{a.MandalName}} </h2><br />
          </ion-col>
          <ion-col col-1 >
            <h2  >{{a.Severity}} </h2><br />
          </ion-col>
          <ion-col col-1 >
            <h2  >{{a.HBL}} </h2><br />
          </ion-col>
          <ion-col col-1 >
            <h2  >{{a.Mobile}} </h2><br />
          </ion-col>
          <ion-col col-1 >
            <h2  >{{a.ANMName}} </h2><br />
          </ion-col>


        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>







</ion-content>
