<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col col-4 >
    <ion-item no-lines class="content">
    <h1 class="title" item-start>ANM</h1>
    </ion-item>
    </ion-col>
    <ion-col col-6 push-2 >
    <ion-searchbar item-end animated="true" placeholder="Search an ANM.." 
    [(ngModel)]="searchbar" (ionInput)="getItems(searchbar)"></ion-searchbar>
    </ion-col>
    </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-navbar color="primary">
        <ion-row>
          <ion-col col-1>
            <ion-checkbox ></ion-checkbox>
          </ion-col>
          <ion-col col-1>
          </ion-col>
          <ion-col col-2>
            <p class="headBar">Name</p>
          </ion-col>
          <ion-col col-2>
            <p class="headBar">Progress </p>
          </ion-col>
          <ion-col col-2>
            <p class="headBar">Phone No.</p>
          </ion-col>
          <ion-col col-2>
            <p class="headBar">Schools</p>
          </ion-col>
          <ion-col col-2>
            <p class="headBar"></p>
          </ion-col>
        </ion-row>
      </ion-navbar>
    </ion-grid>

    <button ion-button float-right color="light" *ngIf="selArray.length" (click)="clearSel()">Clear Selection</button>

    <ion-grid>
        <ion-card *ngFor="let a of anms;let i = index">
        <ion-card-content>
          <ion-row>
            <ion-col col-1  >
              <ion-checkbox [(ngModel)]="a.Checked" (ionChange)="addToArr(a)" ></ion-checkbox>  
            </ion-col>
            <ion-col col-1  >
              <p ion-text><strong>{{i+1}}</strong></p>
            </ion-col>
            <ion-col col-2>
              {{a.FirstName}}&nbsp;{{a.LastName}}
            </ion-col>
            <ion-col col-2 text-center >
              <h1 ion-text color="primary">null </h1><br/>
            </ion-col>
            <ion-col col-2 text-center >
              <h1 ion-text color="primary">{{a.Phone}} </h1><br/>
            </ion-col>
            <ion-col col-2 text-center >
              <h1 ion-text color="primary">{{a.Schools}}</h1>
              <button ion-button  clear>View</button>
            </ion-col>
            <ion-col col-2>
            <button ion-button clear (click)="gtAnmDetails(a)">Details
              <ion-icon padding-left name="md-arrow-round-forward"></ion-icon>
            </button>
            </ion-col>



          </ion-row>
        </ion-card-content>
        </ion-card>
    </ion-grid>    


    <ion-fab right bottom *ngIf="!selArray.length">
      <button ion-fab color="primary" (click)="gtAddANM()" >
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab right bottom *ngIf="selArray.length">
      <button ion-fab color="danger" (click)="delMulC()" >
        <ion-icon name="md-trash"></ion-icon>
      </button>
    </ion-fab>
    </ion-content>