<ion-header>
    <ion-navbar color="primary" >
      <ion-title>Add School</ion-title>
      <ion-buttons end>
        <button ion-button clear icon-only (click)="close()">
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
    <ion-card>
      <ion-card-content>



        <ion-item>
          <ion-label floating>Select Mandal</ion-label>
          <ion-select [(ngModel)]="mandalSel" (ionChange)="getVillages()" >
            <ion-option *ngFor="let m of mandals" [value]="m.key">{{m.Name}} </ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="villages.length" >
          <ion-label floating>Select Village</ion-label>
          <ion-select [(ngModel)]="villageSel">
            <ion-option *ngFor="let v of villages" [value]="v.key">{{v.Name}} </ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="villageSel">
          <ion-label floating>Select Management</ion-label>
          <ion-select [(ngModel)]="manage">
            <ion-option value="MPP_ZPP SCHOOLS">MPP_ZPP SCHOOLS</ion-option>
            <ion-option value="TS TWREI Society Schools">TS TWREI Society Schools</ion-option>
            <ion-option value="KGBVs (SSA)">KGBVs (SSA)</ion-option>
            <ion-option value="Pvt.aided">Pvt.aided</ion-option>
            <ion-option value="State Govt.">State Govt.</ion-option>
            <ion-option value="TS MODEL SCHOOLS">TS MODEL SCHOOLS</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="manage" >
          <ion-label  floating>School Name</ion-label>
          <ion-input type="text" [(ngModel)]="name"  (ionChange)="capsName(name)" autofocus ></ion-input>
        </ion-item>
        

      </ion-card-content>
    </ion-card>
  
    <button ion-button *ngIf="name" block (click)="checkData()">Add</button>
  
  
  </ion-content>
  